 html, body, #root, .App{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.easy {
  padding:10px;
  margin: 5px;
  border: 2px solid red;
  border-radius:50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 20px;
  background-color: red;
  outline: 0;

}

.okay {
  padding:10px;
  margin: 5px;
  border: 2px solid green;
  border-radius:50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 20px;
  background-color: green;
  outline: 0

}

.difficult {
  padding:10px;
  margin: 5px;
  border: 2px solid blueviolet;
  border-radius:50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 20px;
  background-color: blueviolet;
  outline: 0

}

.too_difficult {
  padding:10px;
  margin: 5px;
  border: 2px solid blue;
  border-radius:50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 20px;
  background-color: blue;
  outline: 0

}



.easy:hover {
  padding:10px;
  margin: 5px;
  border: 2px solid red;
  border-radius:50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 20px;
  background-color: rgb(228, 127, 127)
}

.okay:hover {
  padding:10px;
  margin: 5px;
  border: 2px solid green;
  border-radius:50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 20px;
  background-color: rgb(155, 190, 155)
}

.too_difficult:hover {
  padding:10px;
  margin: 5px;
  border: 2px solid blue;
  border-radius:50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 20px;
  background-color: rgb(104, 129, 240)
}

.difficult:hover {
  padding:10px;
  margin: 5px;
  border: 2px solid blueviolet;
  border-radius:50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 20px;
  background-color:rgb(203, 151, 238)
}
