 html, body, #root, .App{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.easy {
  padding:10px;
  margin: 5px;
  border: 2px solid red;
  border-radius:50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 20px;
  background-color: red

}

.okay {
  padding:10px;
  margin: 5px;
  border: 2px solid green;
  border-radius:50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 20px;
  background-color: green

}

.difficult {
  padding:10px;
  margin: 5px;
  border: 2px solid blueviolet;
  border-radius:50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 20px;
  background-color: blueviolet

}

.too_difficult {
  padding:10px;
  margin: 5px;
  border: 2px solid blue;
  border-radius:50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 20px;
  background-color: blue

}



.button1:hover {
  padding:10px;
  margin: 5px;
  border: 2px solid red;
  border-radius:50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 20px;
  background-color: rgb(228, 127, 127)
}
